{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="page-header">List of books</h2>

	<div>
        <form action="{{ path('bookshop_books') }}" method="get">
            <label for="filter">Filter by Author</label>
            <input name="filterauthor" type="text">
            <button type="submit" class="btn btn-default btn-sm">Filter Now</button>
        </form>
	</div>

	<div>
        <form action="{{ path('bookshop_books') }}" method="get">
            <label for="filter">Filter by Title</label>
            <input name="filterbook" type="text">
            <button type="submit" class="btn btn-default btn-sm">Filter Now</button>
        </form>
	</div>

	<table class="table table-hover"> 
		<thead> 
		 	<tr> 
		 		<th></th> 
		 		<th>{{ knp_pagination_sortable(books, 'Title', 'b.title') }}</th> 
		 		<th>{{ knp_pagination_sortable(books, 'Author', 'b.author') }}</th> 
				<th>{{ knp_pagination_sortable(books, 'Price', 'b.price') }}</th> 
				<th></th>
	 		</tr> 
	 	</thead> 
	 	<tbody> 
	 	{% for book in books %}
	 		<tr> 
		 		<th scope="row"></th> 
		 			<td>{{book.title}}</td> 
		 			<td>{{book.author}}</td> 
		 			<td>{{book.price}}£</td> 
		 			<td>
		 				<a href="/bookshop/details/{{book.id}}" class="btn btn-primary">View</a>
		 				<a href="/bookshop/edit/{{book.id}}" class="btn btn-default">Edit</a>
		 				<a href="/bookshop/delete/{{book.id}}" class="btn btn-danger">Delete</a>
		 			</td>
		 		</tr> 
	 	{% endfor %}
		</tbody> 
	</table> 	 

	<div class="navigation text-center">
		{{ knp_pagination_render(books) }}
	</div>

{% endblock %}